
.dnd-shelf {
    background-color: DarkGray;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
}

.dnd-item {
    font-family: "Verdana", serif;
    border-radius: 10px;
    background: #8AC007;
    padding: 5px;
    draggable:"true";
}

#shelf1 {

}

#shelf2 {

}

#shelf3 {
    background: DarkRed;
}



