/* copyright © 2016 Philipp Lucas (philipp.lucas@uni-jena.de) */

/* a shelf has a title and holds items in its list */

.shelf {
    margin: 0.5rem;
    padding-right: 0.2rem;
    display: flex;
    padding-left: 0.2rem;
}

.shelf.horizontal {
    flex-direction: row;
    align-items: center;
    min-height: 70px;
    min-width: 270px;
}

.shelf.vertical {
    flex-direction: column;
    min-width: 130px;
}

.shelf__title {
    font-size: small;
    font-weight: 400;
}

.shelf__list {
    min-height: 1em;
}

.shelf, .shelf__item {
    border: solid 2px transparent;  /* a transparent border is required to make highlighting possible without flickering */
    position: relative;
    margin-bottom: 0.3rem;
}

.shelf + hr {
    margin 0 1.5em 0 1.5em; /* trbl */
    display: none;
    border-color: #EEEEEE;
}

.pl-fu {
    border: 1px solid;
    min-width: 9em;
    height: 28px;
    transition: height 200ms;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0.1em;
    background-color: #F2E6D8;
}

.pl-field {
    background-color: #efefef;
    border: 1px solid #bdbdbd; /* Brightness +50*/
    display: flex;
    justify-content: center;
    padding: 0.1rem;
}

.pl-field:hover {
    cursor: move;
    background-color: #f8f8f8;
    transition: background-color 200ms;
}

.pl-method {
    position: absolute;
    top: 3px;
    font-size: 0.7em;
}

.pl-field-name {
    font-family: Roboto Slab, serif;
    font-size: 1.0em;
}

.pl-fields-in-fu {
    position: absolute;
    transition: top 200ms;
    max-width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pl-button-container {
    position: absolute;
    top: 12px;
    right: 3px;
    width: 15px;
    height: 50px;
    text-align: center;
    font-size: 0.8em;
    font-weight: normal;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #33302E;
}

.pl-remove-button {
    cursor: pointer;
    font-size: .9em;
}

.pl-fu > .pl-remove-button {
    position: absolute;
    left: 6px;
    top: 0;
    width: .8em;
    height: .8em;
}

.pl-fields-in-fu .pl-remove-button {
    margin-left: .2rem;
    margin-right: .1rem;
}

.pl-arg-text {
    position: absolute;
    left: 1em;
    right: 2em;
    top: 37px;
    font-size: .8em;
    height: 1.2em;
    width: 110px;
    margin: 0;
    padding: 0;
}

.pl-field-name:hover > .pl-hidden,
.pl-fu:hover > .pl-hidden {
    visibility: visible;
    opacity: 1;
    transition: visibility 150ms, opacity 150ms;
}

/* resizing / rearranging on hover */

.pl-fu:hover {
    height: 67px;
    transition: height 200ms;
}

.pl-fu:hover > .pl-fields-in-fu {
    top: 0.8rem;
    transition: top 200ms;
}

.pl-fu > .pl-field {
    top: 15px;
    transition: top 200ms;
}

.pl-fu--split {
    background-color: #BDD2DA;
    border-color: #93a0a8; /* Brightness +50*/
}

.pl-fu--aggregation {
    background-color: #FFEEDB;
    border-color: #cdbcae; /* Brightness +50*/
}

.pl-fu--density {
    background-color: rgb(255, 226, 219);
    border-color: #CDBDB5;
}

.pl-fu--filter {
    background-color: #C4E4D0;
    border-color: #9ab2a0; /* Brightness +50*/
}

.pl-fu--filter__popUp {
    width: 300px;
    height: 300px;
    border: #9ab2a0 2px solid;
    border-radius: 5px;
    position: fixed;
    overflow: visible;
    background-color: rgba(255,255,255,0.95);
}

.pl-fu--filter__inner {
    width: 100%;
}

.pl-density-button, .pl-aggregation-button, .pl-split-button {
    cursor: pointer;
}

.pl-yield-field {
    text-decoration: underline;
}

.pl-fu--density .pl-density-button,
.pl-fu--aggregation .pl-aggregation-button,
.pl-fu--split .pl-split-button {
    font-weight: bold;
    color: black;
}