/* copyright © 2016 Philipp Lucas (philipp.lucas@uni-jena.de) */

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.shelf-title {
    /*text-align: center;*/
    font-size: small;
    font-weight: bold;
    /*width: 4rem;*/
}

.pl-column {
    align-items: stretch;
}

.pl-column-title {
    margin-left: 1em;
    margin-right: 1em;
    font-size: large;
    font-weight: bolder;
}

.pl-column-sep {
    width: 5px;
    background-color: #1a1a1a;
}

.pl-schema {
    background-color: #FFFFFF;
    min-width: 175px;
}

.pl-spec {
    background-color: #f8f8f8;    
    border-left: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3;
    min-width: 200px; /* for constant minimal width*/
}

.pl-dashboard {
    background-color: #ffffff;
    min-width: 50%;
    flex-grow: 1;
}

#header-bar, #footer-bar {
    width: 100%;
    max-width: 100%;
}

#footer-bar {
    height: 30px;
    max-height: 30px;
}

#queryTextBox {
    white-space: pre-wrap
}

.pl-visualization {
    position: absolute;
    /*padding: 0.5rem;*/
    margin: .5rem;
    width: 500px; /* initial width and height */
    height: 500px;
    border-radius: .5em;
    border: 4px solid #fafafa;
    cursor: move;
}

.pl-visualization.pl-active {
    border-color: #d2d2d2;
    transition: border-color 150ms;
}

.pl-visualization > div {
    font-weight: bold;
}

.pl-visualization > .pl-remove-button {
    top: .4rem;
    left: .8rem;
    position: absolute;
    font-weight: bold;
}

.pl-visualization:hover > .pl-hidden {
    visibility: visible;
    opacity: 1;
    transition: visibility 150ms, opacity 150ms;
}

#pl-visualization-container {
    display: flex;
    flex-wrap: wrap;
}

#pl-mappings-container {

}

.pl-config-onoff {
    font-size: smaller;
}

.pl-config-onoff input {
    margin-left: 0rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

#pl-config-editor-container {
    overflow: auto;
    height: 100%;
}


.pl-config {
    width: 400px;
}

/* css adaption to make layout more compact for the foundation layout option of the json-editor ... */
.pl-config h3 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

.pl-config .panel {
    margin: 0;
    padding: 2px;
}

.pl-config .button {
    margin: 2px;
    padding: 2px;
}
/* ... until here*/

.pl-visualization-pane {
    width: 100%;
    height: 100%;
}

.pl-plotly-atomic-div {
    border: 1px solid lightgray;
}

#queryTextBox {
    font-size: small;
}

.pl-toolbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #d5d5d5;
    padding: .2rem;
    font-size: smaller;
}

.pl-toolbar-button {
    background-color: #f0f0f0;
    border-radius: 5px;
    border: 1px solid #c5c5c5;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}

.pl-toolbar-button:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

.pl-swapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pl-swap-button {
    border-radius: 5px;
    padding-top: 3px;
    padding-bottom: 2px;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #f9f9f9;
    border: 1px solid #cbcbcb;
    font-size:small;
}

.pl-swap-button:hover {
    background-color: #ffffff;
    cursor: pointer;
}

.pl-details {
    border-left: 2px solid #f3f3f3;
    background-color: #f8f8f8;
    min-width: 150px;
}

#pl-details-container {
    padding: 0.5rem;
}

#pl-details-container div {
    font-size: small;
    color: #6f6f6f;
}

#pl-details-container .pl-details-heading {
    font-weight: bold;
}

/*.drop-hover {
    background-color: #4c55dd;
}*/

/*.drop-allow {*/
    /*!*background-color: #8AC007;*!*/
    /*border: solid 5px #8AC007;*/
    /*border-radius: 5px*/
/*}*/

/*.drop-deny {*/
    /*!*background-color: #ffa5a9;*!*/
    /*border: solid 5px #ffa5a9;*/
    /*border-radius: 5px*/
/*}*/

.shelf {
    /*background-color: #f5f5f5;*/
    /*margin-bottom: 0.4em;*/
    margin: 0.5rem;
    padding: 0.2rem;
    display: flex;
}

.shelf.horizontal {
    flex-direction: row;
    align-items: center;
    min-height: 70px;
    min-width: 270px;
}

.shelf.vertical {
    flex-direction: column;
    min-width: 130px;
}

.shelf-list {
    min-height: 1em;
}

/* a (even just transparent) border is required to make highlighting possible without flickering */
.shelf, .shelf-list-item {
    border: solid 2px transparent;
    border-radius: 0.3em;
    position: relative;
}

.shelf + hr {
    margin: 0.5rem;
}

.overlap-center {
    /*background-color: #4c55dd;*/
    border-color: #38acdd
}

.overlap-left {
    border-left-color: #38ACDD
}

.overlap-right {
    border-right-color: #38ACDD
}

.overlap-top {
    border-top-color: #38ACDD
}

.overlap-bottom {
    border-bottom-color: #38ACDD
}

.axis text {
    stroke: none;
    font-weight: lighter;
}
.axis line {
    fill: none;
    stroke: grey;
    stroke: grey;
    shape-rendering: crispEdges;
    stroke-opacity: 0.3;
}

.axis.numeric line {
    stroke-linecap: "round";
    stroke-dasharray: 2,6;
}

.pl-info-box {
    position: fixed;
    bottom: 1rem;
    width: 90%;
    min-height: 1rem;
    margin: .5rem 5%;
    padding: 0.3rem;
    border: solid 1.5px rgb(255, 54, 3);
    border-radius: 0.3rem;
    color: rgb(255, 54, 3);
    font-weight: bold;
    display: none;
}

.pl-model-selector {
    display: flex;
}

.pl-model-selector > div {
    margin-right: 1rem;
}

.pl-resizing {
    border: solid 2px rgba(56,172,221,0.8);
}