
/* general layout */

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.pl-layout-left {
    min-width: 200px;
    display: flex;
    flex-direction: column;
}

.pl-layout-lower-left {
}

.pl-layout-upper-left {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.pl-layout-right {
    display: flex;
    flex-direction: column;
}

/* columns are grouping elements in the UI */

.pl-column {
    overflow-y: auto;
    /*     border: grey 2px solid;
        border-radius: 10px; */
    margin: 0.3em;
    background-color: white;
    border-radius: 10px;
    border: #dbdbdb 1px solid;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.pl-column-title {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    font-size: x-large;
    font-weight: lighter;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: white;
}

.pl-column-content {
    margin: 0.5rem;
}


/* main widgets/elements of UI */


#header-bar, #footer-bar {
    width: 100%;
    max-width: 100%;
    display: none; /* disabled! */
}

#footer-bar {
    height: 30px;
    max-height: 30px;
}

.pl-schema {
    min-width: 175px;
}


.pl-spec {
    min-width: 200px; /* for constant minimal width*/
}

.pl-layout {
    /*display: flex; */
    display: block;
    flex-direction: row;
    align-items: center;
}

#pl-mappings-container {

}

.pl-facet-onoff {
    font-size: smaller;
}

.pl-facet-onoff input {
    margin-left: 0rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.pl-config {
    width: 400px;
}

#pl-config-container {
    overflow: auto;
    height: 100%;
}

/* css adaption to make layout more compact for the foundation layout option of the json-editor */
.pl-config h3 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

.pl-config .panel {
    margin: 0;
    padding: 2px;
}

.pl-config .button {
    margin: 2px;
    padding: 2px;
}

.pl-dashboard {
    overflow: auto;
    min-width: 50%;
    flex-grow: 1;
}

.pl-dashboard .pl-column-title {
    background-color: transparent;
}

#pl-dashboard__container {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: relative;
}

.pl-visualization {
    position: absolute;
    /*padding: 0.5rem;*/
    /* margin: .5rem; */
    width: 500px; /* initial width and height */
    height: 500px;
    border-radius: 10px;
    border: 4px solid #fafafa;
    padding: 5px;
    cursor: move;
    background-color: white;
}

.pl-visualization.pl-active {
    border-color: #d2d2d2;
    transition: border-color 150ms;
}

.pl-visualization > .pl-remove-button {
    top: .4rem;
    left: .8rem;
    position: absolute;
    font-weight: bold;
}

.pl-visualization:hover > .pl-hidden {
    visibility: visible;
    opacity: 1;
    transition: visibility 150ms, opacity 150ms;
}

.pl-visualization__pane {
    width: 100%;
    height: 100%;
    /* position: absolute; */
}


/* behvaviour */

.pl-button {

}

.pl-onHover--ligthen {

}

.pl-onHover--darken {

}



