/* copyright Ãƒâ€šÃ‚Â© 2016-2018 Philipp Lucas (philipp.lucas@uni-jena.de) */


/*** DEBUG STUFF ***/

#pl-playground {
    display: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 300px;
    left: 300px;
}

/*** common element style ***/

.pl-h1 {
    font-family: Roboto sans-serif;
    font-size: x-large;
    font-weight: lighter;
}

.pl-h2 {
    font-family: Roboto sans-serif;
    font-size: smaller;
    font-weight: 400;
}

.pl-h3 {
    font-family: Roboto sans-serif;
    font-size: x-small;
    font-weight: 400;
}

/* normal text */
.pl-text {
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    /* color: #6d6d6d; */
}

/* labels, e.g to display a sliders value or description */
.pl-label {
    font-family: Roboto sans-serif;
    font-weight: 400;
    font-size: small;
    color: #515151;
}

.pl-icon {
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent
}

.pl-button {
    background-color: #f0f0f0;
    border-radius: 1em;
    border: 1px solid #c5c5c5;
    font-size: 0.7rem;
    cursor: pointer;
    user-select: none;
    text-align: center;
}

.pl-button .pl-label {
     font-size: smaller;
}

/* text input, text areas and the like. anything where you can type into*/
.pl-input {
    border: #aeaeae solid 1px;
}

.pl-input:hover {
    /*filter: brightness(98%);*/
    /*transition: filter 200ms;*/
}

.pl-field-name {
    font-family: Roboto Slab, serif;
    font-size: 0.9em;
}

.pl-field-value {
    font-family: Roboto Slab, serif;
}

/* general layout */

body {
    font-family: Roboto, sans-serif;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.pl-layout-left {
    display: flex;
    flex-direction: column;
}

.pl-layout-lower-left {
    /*flex-grow: 1;*/
    /*display: flex;*/
    /*flex-direction: column;*/
}

.pl-layout-upper-left {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    flex-grow: 4;
}

.pl-layout-right {
    display: flex;
    flex-direction: column;
}

/* columns are grouping elements in the UI */

.pl-column {
    overflow-y: auto;
    margin: 0.3em;
    background-color: white;
    border: #dbdbdb 1px solid;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
}

.pl-column__title {
    margin-top: 0.2em;
    position: sticky;
    top: 0;
    text-align: center;
    background-color: white;
    filter: brightness(98.5%);
    user-select:  none;
}

.pl-column__content {
    margin: 0.5rem;
}


/* main widgets/elements of UI
 * roughly from left to right and top to bottom
 */


#header-bar, #footer-bar {
    width: 100%;
    max-width: 100%;
    display: none; /* disabled! */
}

#footer-bar {
    height: 30px;
    max-height: 30px;
}

.pl-schema {
    min-width: 175px;
}

.pl-model-container {
    overflow-y: scroll;
}

.pl-spec {
    min-width: 200px; /* for constant minimal width*/
    /*overflow-y: scroll; /* always on scroll back to reduce flickering */
}

.pl-spec-container {
}


.pl-layout {
    /*display: flex;*/
    display: block;
    flex-direction: column;
    align-items: center;
}

#pl-mappings-container {
    min-width: 10rem;
}



/* a shelf has a title and holds items in its list */

.shelf {
    /* margin: 0.5rem; */
    /* padding-right: 0.2rem; */
    display: flex;
    /* padding-left: 0.2rem; */
}

.shelf.horizontal {
    flex-direction: row;
    align-items: center;
    min-height: 70px;
    min-width: 270px;
}

.shelf.vertical {
    flex-direction: column;
    min-width: 130px;
}

.shelf__title {user-select: none;}

.shelf__list {
    min-height: 0.8em;
}

.shelf, .shelf__item {
    border: solid 2px transparent;  /* a transparent border is required to make highlighting possible without flickering */
    position: relative;
    margin: 0.2rem;
}

.shelf + hr {
    margin: 0 1.5em 0 1.5em; /* trbl */
    display: none;
    border-color: #EEEEEE;
}

.pl-fu {
    border: 0 solid;
    background-color: #F2E6D8;
    max-width: 15rem;
}

.pl-fu>.pl-fu__head {
    border: 1px solid;
}

.pl-field {
    background-color: #efefef;
    border: 1px solid #bdbdbd; /* Brightness +50*/
    display: flex;
    justify-content: center;
    padding: 0.1rem;
}

.pl-fu--filter {
}

.pl-fu--split {
}

.pl-fu--aggregation {
}

.pl-fu--density {
    background-color: rgb(255, 226, 219);
    border-color: #CDBDB5;
}

.pl-density-button, .pl-aggregation-button, .pl-split-button {
}

.pl-yield-field {
    text-decoration: underline;
}

.pl-fu--density .pl-density-button,
.pl-fu--aggregation .pl-aggregation-button,
.pl-fu--split .pl-split-button {
    font-weight: bold;
    color: black;
}

.pl-facet__label {
    display: inline;
}

.pl-facet__onOff {
    display: flex;
}

.pl-facet__onOff input {
    margin:0 0.5rem 0 0;
    top: .21rem;
    position: relative;
}

.pl-graph {
    min-height: 400px;
    /*flex-grow: 1;*/
    display: flex;
    flex-direction: column;
}

#pl-graph-container {
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
}

.pl-graph-pane {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.pl-config {
    width: 400px;
    height: 100%;
}

#pl-config-container {
    overflow: auto;
    height: 100%;
}

/* css adaption to make layout more compact for the foundation layout option of the json-editor */
.pl-config h3 {
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

.pl-config .panel {
    margin: 0;
    padding: 2px;
}

.pl-config .button {
    margin: 2px;
    padding: 2px;
}

/* dash board contains all visualizations */
.pl-dashboard {
    overflow: auto;
    min-width: 50%;
    flex-grow: 1;
    position: relative;
}

.pl-dashboard .pl-column__title {
    background-color: transparent;
    display: none;
}

#pl-dashboard__container {
    height: 100%;
    overflow: auto;
    position: relative;
    cursor: move;
}

/* visualization of a VisMEL query */
.pl-visualization {
    position: absolute;
    width: 500px; /* initial width and height */
    height: 500px;
    border-radius: 10px;
    border: 2px solid #fafafa;
    padding:2px;
    cursor: grab;
}

.pl-visualization.pl-active {
    border-color: #d2d2d2;
    transition: border-color 150ms;
}

.pl-visualization > .pl-remove-button {
    top: .4rem;
    left: .8rem;
    position: absolute;
    font-weight: bold;
}

.pl-visualization:hover > .pl-hidden {
    visibility: visible;
    opacity: 1;
    transition: visibility 150ms, opacity 150ms;
}

.pl-visualization__pane {
    width: 100%;
    height: 100%;
}

/* legend of a visualization */
.pl-legend {
    position: relative;
    height: 100%;
    left: 100%;
    top: -100%;
    width: 10rem; /* otherwise if the vis is too small, the legend disappears*/
    padding: 1rem;
    pointer-events: none;
}

.pl-legend__svg {
    height: 100%;
    width: 100%;
    position: relative;
}

.pl-legend__svg .swatch {
    /*fill: #ff7f00;*/
    stroke: grey;
    stroke-width: 1pt;
    fill: #b4b4b4
}

.pl-legend__svg .label, .pl-legend__svg .legendTitle {
    font-family: Roboto Slab, serif;
}

.pl-legend__svg .label {
    font-size: 10pt;
    fill: #a4a4a4;
}

.pl-legend__svg .legendTitle {
    font-size: 13pt;
    fill: #818181;
}

/* holds the x-y swap button */
.pl-swapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pl-swapper .pl-button {
    width: 90%;
    text-align: center;
}


/* user study widget */
.pl-survey__title {
    margin-bottom: 0.2rem;
    width: 100%;
}

.pl-survey__content {
    margin-left:1rem;
    margin-bottom: 0.2rem;
    margin-right:0.5rem;
    font-size: small;
    width: 88%;
    /* right: 0px; */
}

.pl-survey__content.pl-button {
    text-align: center;
    padding: 0;
    margin-top: 0.5rem;
}

.pl-survey__userId {

}

textarea.pl-survey__content {
    min-height: 10rem;
}

.pl-insight-report {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* a likert scale with labels and title */
.pl-likert {
    display: flex;
    flex-direction: column;
}

.pl-likert__optionList {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
}

.pl-likert__optionList input[type="radio"] + label {
    margin: -0.4rem 0 0 0;
    text-align: center;
}

.pl-likert__optionList input[type="radio"]{
    margin: 0;
}

.pl-likert__scaleLabelContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
}

.pl-likert__scaleLabel {
    margin-left: .2em;
    margin-right: .2em;
    font-size: x-small;
}

.pl-likert__option {
    margin-left: .1em;
    margin-right: .3em;
    font-size: small;
}

/* common for all FieldUsage widgets */

.pl-fu__remove-button {
    filter: opacity(80%);
}

.pl-fu__popUp {
    width: 300px;
    height: 300px;
    position: fixed;
    overflow: visible;
    border: #9ab2a0 2px solid;
    background-color: rgba(255,255,255,0.95);
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    justify-content: start;
}

.pl-fu__popUp > div {
    margin: 0 0.5rem 0.3rem 0.5rem;
}

.pl-fu__popUp > .pl-fu__head {
    margin-left: 0;
    margin-right: 0;
}

.pl-fu__head {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: relative;
}

.pl-fu__head .pl-fu__remove-button {
    height: 1rem;
    width: 1rem;
    border: none;
    margin: auto 0.1rem;
}

.pl-fu__head .pl-button {
    visibility: hidden;  
}

.pl-fu__head:hover .pl-button {
    visibility: visible;
}

.pl-fu__popUp .pl-button {
    visibility: visible;
}

.pl-fu__head .pl-fu__click4more {
    right: 0.3rem;
    margin: 0.2rem;
    padding: 0.2rem;
    position: absolute;
    height: 80%;
}

.pl-conversion-widget {
    margin: 0 0.1rem;
    display: flex;
    align-items: center;
    height: inherit;
    /* width: 32px; */
}

.pl-conversion-widget__button {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 2px;
    padding: 1px;
}

.pl-conversion-widget__button--aggregation {
    background-color: #FFEEDB;
    border-color: #cdbcae; /* Brightness +50*/
}

.pl-conversion-widget__button--split {
    background-color: #BDD2DA;
    border-color: #93a0a8; /* Brightness +50*/
}

.pl-click4more {
    position: absolute;
    right: 1rem;
    font-size: 20pt;
}

.pl-fu__field-names {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align:  center;
    height: inherit;
    margin: 0 auto;
}

.pl-fu__control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pl-fu__control-button .pl-icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.2rem;
}

.pl-fu__control-button {
    width: 25%;
    margin: 0 0.5rem;
}

.pl-fu__popUp .pl-text {
    text-align: center;
}

.pl-fu__popUp .pl-fu__head {
    margin-bottom: 0.4rem;
}

.pl-fu__direct-input {
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    flex-grow: 1;
    text-align: end;
}

.fu_method-selector, .fu_method-config {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fu_method-selector__label {
    display: none;
}

.fu_method-selector .pl-fu__direct-input {
    text-align: center;
    margin-left:1rem;
    width: 90%;
    position: relative;
}

.fu_method-selector .pl-fu__direct-input--invalid {
    text-decoration: underline wavy red;
}

.fu_method-config, .fu_method-selector, .pl-fu__popUp > .pl-text {
}

/* Filter Widget */

.pl-fu--filter>.pl-fu__head, .pl-fu--filter__popUp {
    border-color: #9ab2a0; /* Brightness +50*/
    /*position: relative;*/
}

.pl-fu--filter .pl-fu__head {
    background-color: #C4E4D0;
}

.pl-fu--filter .pl-fu__head:hover {
    background-color: #ceeeda;
}

.fw_plot {
    flex-grow: 1;
}

.fw_valueForm__directInput {
    text-align: center;
    width: 90%;
}

.pl-fu__direct-input:hover, .pl-fu__direct-input:focus {
    background-color: #f8f8f8;
}

.pl-fu__direct-input--invalid {
    border-color: red;
}

.fw_container {
    display: flex;
    flex-direction: column;
}

.fw_header {
    display: flex;
    justify-content: space-between;
}

.fw_taskbar {
    display: flex;
    justify-content: space-evenly;
}

.fw_taskbar__button {
    cursor: pointer;
    user-select: none;
}

.fw_valueForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.fw_valueForm__label {
    margin-right: .5em;
    user-select: none;
}

.fw_rangeDisplay__textarea {
    max-width: 100%;
}

.fw_toolbar {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: .3em;
    user-select: none;
}

.fw_toolbar__button {
    width:22%;
}

.fw_toolbar__button:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

/* split widget */
.pl-fu--split>.pl-fu__head, .pl-fu--split__popUp {
    border-color: #93a0a8;
}

.pl-fu--split .pl-fu__head {
    background-color: #BDD2DA;
}

.pl-fu--split .pl-fu__head:hover {
    background-color: #c6dce4;
}

.pl-fu--split__popUp {
    height: auto;
}

.fu_method-config .sw_split-slider {
    width: 80%;
}

.pl-fu--split__popUp .sw_split-slider__handle {
    text-align: center;
    padding-top: 0.05rem;
    width: 1.4rem;
    height: 1.2rem;
}

/* Aggregation widget */


.pl-fu--aggregation>.pl-fu__head, .pl-fu--aggregation__popUp {
    border-color: #cdbcae;
}

.pl-fu--aggregation .pl-fu__head {
    background-color: #FFEEDB;
}

.pl-fu--aggregation .pl-fu__head:hover {
    background-color: #fff6ea;
}

.pl-fu--aggregation__popUp {
    height: auto;
}

/* toolbar on top */

.pl-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #d5d5d5;
}

.pl-toolbar_multiButtonList {
    display: flex;
}

.pl-toolbar__button {
    padding: 0 1rem 0 0.7rem;
}

.pl-toolbar__button .pl-icon {
    height: 1.5rem;
    width: auto;
    margin-right: 0.3rem;
}

.pl-model-selector {
    display: flex;
    align-items: center;
}

.pl-model-selector .pl-label {
    margin-right: 0.3rem;
    position: relative;
    align-self: center;
}

.pl-model-selector__button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left:0.1rem;
    padding-left: 0.5rem;
}

/* modal edit dialog */

.pl-modal__background {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.08);
    pointer-events: all;
}

.pl-modal__foreground {
    z-index: 9999;
}

/* dependency graph */

.dg_graphCanvas-container {
    flex-grow: 1;
    margin: 0.5em;
    border: 2px solid transparent;
    border-radius: 10px;
}

.dg_graphCanvas-container:hover {
    cursor: move;
    border-color:rgba(245,245,245,0.5);
    background-color: rgba(250,250,250,0.5);
}

.dg_slider-container {
    display: flex;
    flex-direction: row;
    /*justify-content: ;*/
    margin: 0.3em;
}

.dg_slider__slider {
    flex-grow: 1;
    margin-left: 1rem;
    margin-right: 1rem;
    position: relative;
    top: 0.08rem;
}

.dg_slider__value {
    margin-left: 0.5rem;
}

.dg_slider__label {
    margin-right: 0.5rem;
}

.dg-drag-ghost {
    border-style: dotted;
}

.dg_graphCanvas-container--hover-on-node:hover {
    /* :hover is needed to take precedence over .dg_graphCanvas-container:hover which is otherwise more specific */
    cursor: grab;
}

/* presents details of an model */

.pl-details {
    /* display: none;  hide initially */
}

#pl-details-container {
    margin: 0 0.5rem 0.5rem;
}

#pl-details-container .pl-details__heading {
}

.pl-details__heading {

}

.pl-details__body {
    margin: 0.3rem;
}

/* an info box displays messages */
.pl-info-box {
    position: fixed;
    bottom: 1rem;
    width: 90%;
    min-height: 1rem;
    margin: .5rem 5%;
    padding: 0.3rem;
    border-radius: 0.3rem;
    font-weight: bold;
    display: none;
    background-color: rgba(255,255,255,0.7);
}

.pl-info-box.pl-info-box_warning {
    border: solid 1.5px #CF5D44;
    color: #CF5D44;
}

.pl-info-box.pl-info-box_information {
    border: solid 1.5px #2F4EF2;
    color: #2F4EF2;
}


/*** improvements to Plolty internals ***/

/* styling of plot background on hover*/
.main-svg .draglayer g .drag {
    fill: transparent;
    /*fill: rgba(0, 0, 0, 0.02);*/
}

.main-svg .draglayer g .drag:hover {
    fill: rgba(0, 0, 0, 0.03);
    /*fill: transparent;*/
}

.fw_plot .rangeslider-grabarea-max:hover {
    cursor: e-resize;
}

.fw_plot .rangeslider-grabarea-min:hover {
    cursor: w-resize;
}


/* improvements for jquery ui slider */
.ui-slider-handle {
    text-align: center;
}

/*** behaviour style ***/

.pl-button:hover {
    filter: brightness(105%);
    transition: filter 200ms;
}

.pl-onHover--lighten:hover {
    /*box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);*/
    filter: brightness(105%);
    transition: filter 200ms;
}

.pl-onHover--darken:hover {
    filter: brightness(95%);
    transition: filter 200ms;
}

/* if something is draggable */
.pl-draggable:hover {
    cursor: grab;
    /* enabling this causes strange flickering... mabye related to this bug: https://hk.saowen.com/a/6fec0362e79758226488f8bd646c937f47c939beeb2ed465cf424444eff56f3a
    */
    /*filter: brightness(105%);*/
    /*transition: filter 200ms;*/
}

.pl-active-able:hover {
    border-style: dotted;
}

.pl-active:hover {
    border-style: solid;
}

/* activate this class to hide an element*/
.pl-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 150ms, opacity 150ms;
}

/* disables user selection */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently not supported by any browser */
}

/* overlap on drag overlap */
.overlap-center {
    /*background-color: #4c55dd;*/
    border-color: #38acdd
}

.overlap-left {
    border-left-color: #38ACDD
}

.overlap-right {
    border-right-color: #38ACDD
}

.overlap-top {
    border-top-color: #38ACDD
}

.overlap-bottom {
    border-bottom-color: #38ACDD
}

/* modification of jquery ui resizable */
.ui-resizable-e {
    width: 12px;
}

.ui-resizable-w {
    width: 12px;
}

.ui-resizable-s {
    height: 12px;
}

.ui-resizable-n {
    height: 12px;
}

.ui-resizable-handle:hover {
    border-width: 2px;
    border-radius: 5px;
    border-color: rgba(228, 228, 228, 0.5);
    background-color: rgba(219, 219, 219, 0.5);
    transition: background-color 200ms, border-color 200ms;
}

/* helper that is shown when resizing an element*/
.pl-resizing {
    border: solid 2px rgba(56,172,221,0.8);
}
