@font-face {
    font-family: Comfortaa;
    src: url(../fonts/Comfortaa_Regular.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Regular.otf);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
}

body {
    font-family: Quicksand, Verdana, Sans-serif;
    font-size: 100%;
}

.pl-fu {
    /*border: 1px solid black;*/
    min-width:200px;
    height:30px;
    display: flex;
    justify-content: center;
    position: relative;
    /*top: 75px;*/
    /*left: 50px;*/
    padding: 0.1em;
    /*margin: 0.2em;*/
    border-radius: 0.3em;
    background-color: #F2E6D8;
}

.pl-field {
    /*min-width: 200px;*/
    border-radius: 0.3em;
    background-color: #cfcfcf;
    display: flex;
    justify-content: center;
    padding: 0.2rem;
}

.pl-method {
    position: absolute;
    top: 3px;
    font-size: 0.7em;
}
.pl-field-name {
    font-family: Quicksand;
    font-size: 1.0em;
    font-weight: bold;
}

.pl-fields-in-fu {
    position: absolute;
    top: 0.8rem;
    max-width: 170px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pl-button-container {
    position: absolute;
    top: 3px;
    right: 3px;
    width: 15px;
    height: 50px;
    text-align: center;
    font-size: 0.8em;
    font-weight: normal;
    font-family: Verdana, Serif;
    line-height: 1.5;
    color: #33302E;
}

.pl-remove-button {
    cursor: pointer;
    font-size: .9em;
}

.pl-fu > .pl-remove-button {
    position: absolute;
    left: 6px;
    top: 3px;
    width: .8em;
    height: .8em;
}

.pl-fields-in-fu .pl-remove-button {
    margin-left: .2rem;
    margin-right: .1rem;
}

.pl-arg-text {
    position: absolute;
    left: 40px;
    right: 6px;
    top: 37px;
    font-size: .8em;
    height: 1.4em;
    width: 130px;
    margin: 0;
    padding: 0;
}

._pl-active {
    font-weight: bold;
    color: black;
}


.pl-hidden {
    visibility:hidden;
    opacity: 0;
    transition: visibility 150ms, opacity 150ms;
}

.pl-field-name:hover > .pl-hidden,
.pl-fu:hover > .pl-hidden {
    visibility:visible;
    opacity: 1;
    transition: visibility 150ms, opacity 150ms;
}

/* resizing / rearranging on hover */
/*
.pl-fu:hover {
    height: 67px;
    transition: height 200ms;
}

.pl-fu:hover > .pl-field {
    top: 15px;
    transition: top 200ms;
}
*/

.pl-fu {
    height: 67px;
    transition: height 200ms;
}

.pl-fu > .pl-field {
    top: 15px;
    transition: top 200ms;
}

.pl-fu-density {
    background-color: #9DBBB7;
}


.pl-fu-aggregation {
    background-color: #F2B950;
}

.pl-fu-split {
    background-color: #F25D50;
}

.pl-fu-filter {
    background-color: #F2E6D8;
}

.pl-density-button, .pl-aggregation-button, .pl-split-button {
    cursor: pointer;
}

.pl-yield-field {
    text-decoration: underline;
}

.pl-fu-density .pl-density-button,
.pl-fu-aggregation .pl-aggregation-button,
.pl-fu-split .pl-split-button {
    font-weight: bold;
    color: black;
}

.pl-layout {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#pl-model-container {
    min-width: 7rem;
}

#pl-mappings-container {
    min-width: 15rem;
}
